.page {
  position: absolute;
  left: 200px;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  background: #fff;
  -webkit-box-shadow: 0 1px 3px 1px rgba(0,0,0,0.1);
  box-shadow: 0 1px 3px 1px rgba(0,0,0,0.1);
  padding: 30px 10px 30px 30px;
  overflow-x: hidden;
  overflow-y: auto;
}

.fade {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.fade.ng-enter {
  opacity: 0;
}

.fade.ng-enter-active {
  opacity: 1;
}

.fade.ng-leave {
  opacity: 1;
}

.fade.ng-leave-active {
  opacity: 0;
}

.fade.ng-enter,
.fade.ng-leave {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}