/*
* Форма
*/







.position__form {
  padding-top: 25px;
  width: 720px;
}

.position__form #title {
  width: 335px;
}
      
.position__form #category {
  width: 200px;
}
      
.position__form #weight,
.position__form #weight_min {
  width: 175px; 
}


.position__form #price {
  width: 220px;
}
  
.position__form #discount {
  width: 114px;
}

.position__form #description {
  margin-top: -15px;
  max-width: 795px;
}
  
.position__form #address {
  display: block;
  width: 352px;
}
      
.position__form #template {
  width: 300px;
  padding-left: 35px;
}

.position__form #is_template {
  position: absolute;
  z-index: 2;
  margin: 8px;
}

.position__map {
  width: 350px;
  height: 264px;
  display: block;
}

.position__template-dropdown {

}

.position__template-dropdown__list {
  width: 400px;
  max-height: 160px;
  padding: 0;
  margin: -15px;
  list-style: none;
  position: relative;
}

.position__template-dropdown__item {
  display: block;
  padding: 12px 17px;
  cursor: pointer;
}
  
.position__template-dropdown__item:hover {
  background: #f7f7f7;
}

/*
*  Positions page
*/

.positions__search {
  position: relative;
  width: 235px;
}

.positions__search input[type="text"] {
    padding-left: 33px;

}

.positions__search i {
  position: absolute;
  top: 8px;
  left: 8px;
  font-size: 18px;
  color: darkgrey;
}

.positions__table {
  margin-top: 10px;
}

.position__tabs {
  margin-top: 9px;
}


.position__template__no-result {
    padding: 10px;
    font-weight: 500;
}


#option_id {
    min-width: 200px;
}