.search__map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.search__widgets {
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
  box-sizing: content-box;
  padding: 20px;
}

.search__addons + .hint {
  right: 70px;
}

.hint-btn {
  position: absolute;
  bottom: 50px;
  right: 30px;
}

.hint-btn.active {
  box-shadow: 0px 0px 3px rgba(0,0,0,.3) inset;
}