.modal {
  position: relative;
  background: #fff;
  -webkit-box-shadow: 0 1px 3px 1px rgba(0,0,0,0.1);
  box-shadow: 0 1px 3px 1px rgba(0,0,0,0.1);
  visibility: hidden;
  opacity: 0;
  transition: .3s;
}

.modal.visible {
  visibility: visible;
  opacity: 1;
}

.modal__body {
  padding: 12px;
}

.modal__title {
  font-size: 18px;
  padding: 10px 12px;
}

.modal__close {
  position: absolute;
  right: 12px;
  top: 12px;
  font-size: 16px;
  cursor: pointer;
}

.modal__close:hover {
  color: red;
}

.modal__footer {
  padding: 12px;
  background: #f0f0f0;
  overflow: hidden;
}