.sidebar-scroll {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

.sidebar {
    width: 260px;
    background-color: white;
}

.logo {
  text-decoration: none;
  transition: .3s;
  color: black;
  font-size: 26px;
  display: block;
  padding: 17px 0;
  text-align: center;
  position: relative;
  z-index: 3;
}

.logo-map {
  font-size: 30px;
  margin-top: 0;
}

.nav {
  background: #fff;
  transition: 0.3s;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
  padding-top: 56px;
  top: 0;
  height: auto;
  min-height: 435px;
  width: 260px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
}

.nav.sign {
  min-height: 760px;
}

.nav__profile img {
  width: 100%;
  display: block;
}

.nav__links {
}

.nav__links__br {
  border-top: 1px solid gainsboro;
  margin: 11px 0px;
}

.nav__link {
  padding: 11px 33px;
  display: block;
  text-decoration: none;
  transition: padding 0.3s;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
}

.nav__link:hover {
  color: #333;
}

.nav__link:hover i, .nav__link.active i {
  color: #7A7A7A;
}

.nav__link.active {
  box-shadow: -2px 0 0px #ffdb4c inset;
  color: black;
  background-color: whitesmoke;
}

.nav__create {
  height: 87px;
  padding: 28px 20px;
  font-size: 16px;
}

.nav__create .btn {
  width: 100%;
  display: block;
  max-width: none;
  font-size: 14px;
}

.nav__footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  background: #f0f0f0;
  margin-top: 20px;
  transition: 0.3s;
}

.nav__user {
  padding: 16px 16px 16px 27px;
  transition: 0.3s;
  display: block;
  text-decoration: none;
  color: #333;
  overflow: hidden;
  position: relative;
}

.nav__user:hover {
  background-color: #e7e7e7;
}

.nav__user-avatar {
  height: 40px;
  width: 40px;
  border-radius: 40px;
  float: left;
  border: 1px solid rgba(255, 255, 255, 0.42);
  overflow: hidden;
}

.nav__user-avatar img {
  width: 100%;
  height: 100%;
}

.nav__user-info {
  margin-left: 50px;
  padding: 7px 3px;
}

.nav__user-name {
  font-size: 13px;
  white-space: nowrap;
}

.nav__user-status {
  font-size: 11px;
  color: #777;
}

.nav__footer .nav__links {
}

.nav__footer .nav__link:hover {
  background-color: #e7e7e7;
}

.nav__footer .nav__link.active {
  background-color: #e7e7e7;
  box-shadow: none;
}


.nav__profile {
    border: 5px solid #F0F0F0;   border-left: none;   border-right: none;
}


.nav__links .hint {
    margin-left: 80px;   
    margin-top: 24px;
}


.nav__link i {
    color: #ABABAB;
    font-size: 20px;
    position: absolute;
    margin-top: -1px;
    margin-left: -40px;
    vertical-align: middle;
}

.nav__footer .nav__link {
    padding-left: 75px;
    border-bottom: 1px solid gainsboro;
}