.radio {
  overflow: hidden;
  list-style: none;
  padding: 0;
  margin: 0;
}

.radio.lg .radio__button {
  height: 36px;
  font-size: 13px;
  padding: 10px 15px;
}
  
.radio__button {
  margin: 0;
  height: 32px;
  border: 1px solid #ccc;
  float: left;
  text-align: center;
  font-size: 12px;
  padding: 8px 10px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  color: #2B2B2B;
}
    
.radio__button:hover {
  border: 1px solid #A9A9A9;
  z-index: 3;
}
    
    
.radio__button.active {
  border: 1px solid #CDBD80 !important;
  background: #FFECA6;
  z-index: 2;
}

.radio__button:not(:first-child) {
  margin-left: -1px;
}
  
.radio__button:first-child {
  border-radius: 2px 0 0 2px;
}
  
.radio__button:last-child {
  border-radius: 0 2px 2px 0;
}