.ripple {
  position: relative;
  overflow: hidden;
  border: none;
  background: none;
}
.angular-ripple {
  display: block;
  position: absolute;
  background-color: rgba(255,255,255,0.6);
  border-radius: 50%;
  -moz-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
}
.angular-ripple.animate {
  -moz-animation: ripple 0.35s linear;
  -webkit-animation: ripple 0.35s linear;
  animation: ripple 0.35s linear;
}
@-moz-keyframes ripple {
  100% {
    opacity: 0;
    -moz-transform: scale(2.5);
    -webkit-transform: scale(2.5);
    transform: scale(2.5);
  }
}
@-webkit-keyframes ripple {
  100% {
    opacity: 0;
    -moz-transform: scale(2.5);
    -webkit-transform: scale(2.5);
    transform: scale(2.5);
  }
}
@keyframes ripple {
  100% {
    opacity: 0;
    -moz-transform: scale(2.5);
    -webkit-transform: scale(2.5);
    transform: scale(2.5);
  }
}