.search {
  min-width: 470px;
  max-width: 1000px;
  position: absolute;
  left: 230px;
  right: 400px;
  top: 20px;
}

.search__form {
  position: relative;
  z-index: 2;
}

.search__input {
  height: 38px;
  position: absolute;
  left: 0;
  right: 80px;
  box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.15);
}

.search__input input[type="text"] {
  width: 100%;
  height: 100%;
  padding-left: 15px;
  border: none;
  box-shadow: 0 0 0 2px white inset;
  transition: box-shadow .3s;
  position: relative;
  z-index: 1;
}

.search__input input[type="text"]:focus {
  box-shadow: 0 0 0 2px #ffdb4c inset;
}

.search__addons {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
  color: #B3B3B3;
}

.search__addons i {
  position: relative;
  top: 12px;
  right: 20px;
  cursor: pointer;
}

.search__addons:hover {
  color: #333;
}

.search__addons .icon-extended {
  font-size: 15px;
}

.search__btn {
  height: 38px;
  width: 80px;
  position: absolute;
  right: 3px;
  background: #ffdb4c;
  color: #2B2B2B;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
}

.search__btn span {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: #ffdb4c;
  padding: 9px 20px;
}

.search__btn span:after {
  content: '';
  position: absolute;
  top: 18px;
  left: 100%;
  z-index: 1;
  margin-top: -18px;
  border-width: 19px 0 19px 10px;
  border-style: solid;
  border-color: transparent transparent transparent #ffdb4c;
  line-height: 0;
}

.search__btn span:hover {
  background: #ffe067;
}

.search__btn span:hover:after {
  border-color: transparent transparent transparent #ffe067;
}

.search__btn:before, .search__btn:after {
  content: '';
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: background-color 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955), -webkit-box-shadow 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: background-color 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955), box-shadow 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.search__btn:before {
  top: 0;
  right: -5px;
  bottom: 50%;
  left: 7px;
  -webkit-transform: matrix(1, 0, 0.53, 1, 0, 0);
  -ms-transform: matrix(1, 0, 0.53, 1, 0, 0);
  transform: matrix(1, 0, 0.53, 1, 0, 0);
}

.search__btn:after {
  top: 50%;
  right: -5px;
  bottom: 0;
  left: 7px;
  border-bottom-left-radius: 2px;
  -webkit-transform: matrix(1, 0, -0.53, 1, 0, 0);
  -ms-transform: matrix(1, 0, -0.53, 1, 0, 0);
  transform: matrix(1, 0, -0.53, 1, 0, 0);
}

.search__count {
  height: 25px;
  min-width: 387px;
  background: #F0F0F0;
  padding: 7px;
  font-size: 12px;
  color: #6E6E6E;
  white-space: nowrap;
  overflow: hidden;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.11);
  min-width: 100%;
}

.search__count:hover {
  display: inline-block
}

.search__footer {
  position: absolute;
  top: 38px;
  left: 0;
  right: 82px;
  margin-top: -38px;
  transition: 0.3s;
  z-index: 1;
  max-width: 917px;
}

.search__footer.active {
  margin-top: 0;
  min-width: 387px;
}

.search__tags {
  position: relative;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.11);
  min-width: 387px;
}

.search__tags:before, .search__tags:after {
  content: "";
  display: block;
  opacity: 0;
  transition: opacity .3s;
}

.search__tags.open:before, .search__tags.open:after {
  opacity: 1;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7.5px 10px 7.5px 0;
  position: absolute;
  right: -3px;
  top: 9px;
  z-index: 5;
}

.search__tags.open:before {
  border-color: transparent rgba(204, 204, 204, 0.38) transparent transparent;
  right: -2px;
  top: 10px;
}

.search__tags.open:after {
  border-color: transparent white transparent transparent;
}

.search__tags .tags {
  border: none; 
}
  
.search__tags .tags__area {
  padding: 6px 5px
}

.search__tags .tags_add {
  margin: 6px 5px
}

.search__add-tag:before {
  content: "+";
  display: block;
  height: 26px;
  float: left;
  margin-right: 8px;
  border-right: 1px solid #d7b940;
  font-size: 20px;
  padding: 0 7px 0 8px;
  font-weight: lighter;
}

.search__extended {
  width: 345px;
  position: absolute;
  top: 60px;
  z-index: 2;
  margin-bottom: 10px;
}

.search__extended__wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 135px;
  width: 360px;
  margin-right: -15px;
}

#location {
  width: 208px;
}
  
#radius {
  width: 80px;
  vertical-align: top;
}
  
#category {
  vertical-align: top;
  width: 180px;
}
  
.btn {
  max-width: 163px;
  overflow: hidden;
}
  
#price_from, #price_to {
  width: 160px;
}
