.select {
  display: inline-block;
  height: 32px;
  border-radius: 2px;
  min-width: 115px;
  cursor: pointer;
  position: relative;
  width: 100%;
}

.select__current {
  padding: 7px 25px 7px 6px;
  position: relative;
  background: white;
  border: 1px solid #ccc;
  border-radius: 2px;
  overflow: hidden;
  white-space: nowrap;
}

.select__current:hover,
.select__current.active {
  border-color: darkgrey;
}
    
.select__current i {
  font-size: 12px;
  position: absolute;
  right: 7px;
  top: 10px;
  z-index: 1;
}

.select__current:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  width: 19px;
  height: 30px;
  background: white;
  top: 0;
  box-shadow: 0px 0px 19px 8px #FFFFFF;
}

.select__list {
  position: absolute;
  top: 30px;
  left: 0px;
  right: 0px;
  max-height: 100px;
  border: 1px solid #A9A9A9;
  border-top: none;
  z-index: 1;
}

.select__item {
  padding: 6px;
  background: white;
}

.select__item:hover {
  background: #fee9a5;
}

.select__item.active {
  background: #ffdb4c;
}
