.select {
  display: inline-block;
  height: 32px;
  border-radius: 2px;
  min-width: 115px;
  cursor: pointer;
  position: relative;
  width: 100%;
}

.select__current {
  padding: 7px 25px 7px 6px;
  position: relative;
  background: white;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.select__current:hover,
.select__current.active {
  border-color: darkgrey;
}
    
.select__current i {
  font-size: 14px;
  position: absolute;
  right: 8px;
  top: 8px;
}

.select__list {
  position: absolute;
  top: 30px;
  left: -1px;
  right: -1px;
  max-height: 100px;
  border: 1px solid #ccc;
  z-index: 1;
}

.select__item {
  padding: 6px;
  background: white;
}

.select__item:hover {
  background: #fee9a5;
}

.select__item.active {
  background: #ffdb4c;
}
