html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  min-width: 1000px;
}

body {
  overflow: hidden;
  position: relative;
  background-color: #F6F5F3;
}

* {
  box-sizing: border-box;
  outline: none !important;
}

.ng-cloak {
  visibility: hidden;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.blur {
  -webkit-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  -moz-filter: blur(3px);
  filter: blur(3px);
}

table {
  width: 100%;
}

pre {
  white-space: normal;
  font-size: 14px;
  margin: 0;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hide-scroll .ps-scrollbar-x-rail,
.hide-scroll .ps-scrollbar-y-rail {
  display: none !important;
}

a {
  cursor: pointer;
}

a.link {
  color: #2278CC;
}

a.link:active {
  color: red;
}

h1 {
  font-weight: 400;
  font-size: 24px;
  margin: 0 20px 20px -30px;
  padding: 0 0 0 30px;
  border-bottom: 2px solid rgb(255, 219, 76);
  display: inline-block;
}

h2 {
  font-size: 18px;
  color: #414141;
  margin: 0 0 20px 0;
  font-weight: normal;
}

.overlay {
  position: fixed;
  top: 0;
  left: 220px;
  right: 0;
  bottom: 0;
  z-index: 999;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
textarea {
  border: 1px solid #CCCCCC;
  border-radius: 2px;
  font-size: 13px;
  outline: none !important;
  -webkit-appearance: none;
  height: 34px;
  padding-left: 8px;
  width: 100%;
}

input[type="text"]:disabled,
input[type="email"]:disabled,
input[type="password"]:disabled,
input[type="number"]:disabled,
textarea:disabled {
  background: rgba(240, 240, 240, 0.58)
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
textarea:focus {
  border-color: #d0ba65;
  box-shadow: 0 0 10px #fc0;
  -webkit-box-shadow: 0 0 10px #fc0;
  -webkit-moz-shadow: 0 0 10px #fc0;
  -webkit-o-shadow: 0 0 10px #fc0;
  -webkit-ms-shadow: 0 0 10px #fc0;
}

textarea {
  padding: 8px;
  width: 100%;
  height: auto;
}

label.label {
  font-weight: 500;
  color: #414141;
  display: block;
  margin-bottom: 5px;
  font-size: 13px;
}

.errors {
  font-size: 12px;
  color: red;
  opacity: 0;
  transition: .3s;
}

.errors.show {
  opacity: 1
}

.btn {
  height: 32px;
  line-height: 31px;
  padding: 0 15px;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
  white-space: nowrap;
  display: inline-block;
  text-decoration: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn:disabled {
  cursor: default;
  opacity: .7;
}

.btn:not(:disabled):hover {
  opacity: .85;
}

.btn-primary {
  background: #ffdb4c;
  color: #2b2b2b;
  border: 1px solid #d7b940;
}

.btn-default {
  background: white;
  color: #2b2b2b;
  border: 1px solid rgba(0, 0, 0, .2);
}

.btn-default:hover {
  border-color: darkgrey;
}

.btn-danger {
  background: #ef5350;
  color: #fff;
  border: 1px solid #ef5350;
}

.btn-lg {
  height: 40px;
  line-height: 39px;
  padding: 0 25px;
}

.btn-icon {
  height: 30px;
  width: 30px;
  padding: 6px;
  text-align: center;
  border-radius: 3px;
  margin-right: 5px;
  font-size: 15px;
  color: #B3B3B3;
  background: transparent;
  border-color: transparent;
}

.btn-icon.btn-default:hover {
  border-color: darkgrey;
  background: white;
  color: #333;
}

.btn-icon .icon-eye {
  font-size: 18px;
  position: relative;
  top: -1px;
  left: -1px;
}

.text-red {
  color: red;
}

.row {
  margin: 0 -8px 15px -8px
}

.row:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.col {
  padding: 0 8px;
  float: left;
}

.sep {
  float: left;
  height: 30px;
  width: 15px;
  line-height: 78px;
  font-size: 16px;
  text-align: center;
  vertical-align: bottom;
}

input[type="text"]:not(:disabled):hover,
input[type="email"]:not(:disabled):hover,
input[type="password"]:not(:disabled):hover,
input[type="number"]:not(:disabled):hover,
textarea:not(:disabled):hover {
  border-color: darkgrey;
}

[class*="col-xs-"] {
  float: left
}

.col-xs-1 {
  width: 8.3333%
}

.col-xs-2 {
  width: 16.6666%
}

.col-xs-3 {
  width: 25%
}

.col-xs-4 {
  width: 33.3333%
}

.col-xs-5 {
  width: 41.6666%
}

.col-xs-6 {
  width: 50%
}

.col-xs-7 {
  width: 58.3333%
}

.col-xs-8 {
  width: 66.6666%
}

.col-xs-9 {
  width: 75%
}

.col-xs-10 {
  width: 83.3333%
}

.col-xs-11 {
  width: 91.6666%
}

.col-xs-12 {
  width: 100%
}

.margin-0 {
  margin: 0 !important;
}

.padding-0 {
  margin: 0 !important;
}

.transparent {
  opacity: .5;
}

.checkbox {
  width: auto !important;
  cursor: pointer;
  display: inline-block !important;
  color: #414141;
}

.checkbox input[type="checkbox"] {
  display: none;
}

.checkbox input[type="checkbox"]:checked ~ i:before {
  content: "\e622";
  font-size: 15px;
  position: relative;
  top: 1px;
  z-index: 2;
}

.checkbox i {
  margin: -1px 7px 0 0;
  background: white;
  width: 19px;
  height: 19px;
  color: black;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 2px;
  display: inline-block !important;
  vertical-align: middle;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ol {
  counter-reset: item;
}

ol li {
  display: block;
}

ol li:before {
  content: counter(item) ". ";
  counter-increment: item;
  color: #A0A0A0;
  display: inline-block;
  margin-right: 8px;
}

.table {
}

.table thead {
}

.table tbody {
}

.table tbody tr {
  cursor: pointer;
}

.table tbody tr:hover {
  background: #fafafa;
}

.table thead tr {
  background: #f6f5f3;
  height: 40px;
  font-size: 13px;
}

.table td {
  padding: 10px 20px;
}

.table th {
  text-align: left;
  padding: 0 20px;
}

.table .icon-chevron-right {
  font-size: 12px;
  color: #6F6F6F;
}

.w0 {
  width: 1px;
  white-space: nowrap;
}